{%extends 'base.html'%}

{%block centre%}
<div class="tail_img1">
</div>
<div class="card-list">
        <div class="card-item">
            <ul class="images ">
        <li class="img"><img src="./static/images/pexels-lisa-fotios-776538.jpg" alt="img"></li>
              </ul>
            <span class="developer">Developer</span>
            <h3>A "developer" codes software and websites.</h3>
            <div class="arrow">
                <i class="fas fa-arrow-right card-icon"></i>
            </div>
        </div>
        <div class="card-item">
            <ul class="images">
        <li class="img"><img src="./static/images/pexels-lisa-fotios-776538.jpg" alt="img"></li>
              </ul>
            <span class="designer">Designer</span>
            <h3>A "designer" is a design expert.</h3>
            <div class="arrow">
                <i class="fas fa-arrow-right card-icon"></i>
            </div>
        </div>
        <div class="card-item">
              <ul class="images">
        <li class="img"><img src="./static/images/pexels-lisa-fotios-776538.jpg" alt="img"></li>
              </ul>
                 <div class="content">
               <div class="title">
                  Briana Tozour
               </div>
               <div class="sub-title">
                  Graphic Designer
               </div>
               <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit modi dolorem quis quae animi nihil minus sed unde voluptas cumque.
               </p>
        </div>
    </div>

    <div class="lightbox">
      <div class="wrapper">
        <header>
          <div class="details">
            <span>Nom du Restaurant</span>
          </div>
          <div class="buttons"><i class="fa-solid fa-xmark " id="close-icon"></i></div>
        </header>
        <div class="preview-img">
          <div class="img"><img src="" alt="preview-img"></div>
        </div>
      </div>
    </div>

{%endblock centre%}