<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restaurants</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="/static/initialize.css">

</head>
<body>
<div class="tail_img1">
    <img src="./static/images/pexels-lisa-fotios-776538.jpg" alt="no">
</div>
<section class="restSection1">
    <div>
        <h3>VOIR D'AUTRES <br>
            PROPOSITIONS</h3>
    </div>
    <div></div>
</section>
</body>
</html>