/*css restaurant*/
.tail_img1{
 height:80vh;
 background-image: url("./images/pexels-pixabay-262978.jpg");
 background-position: center;
 background-size: cover;
 display: flex;
 align-items: center;
 padding: 0 20px;
}
/* Importing Google font - Open Sans */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
body {
    background: #ecececdb;
}
.card-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    max-width: 1250px;
    margin: 150px auto;
    padding: 20px;
    gap: 20px;
}
.card-list .card-item {
    background: #fff;
    padding: 26px;
    border-radius: 8px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.04);
    list-style: none;
    cursor: pointer;
    text-decoration: none;
    border: 2px solid transparent;
    transition: border 0.5s ease;
}
.card-list .card-item:hover {
    border: 2px solid #000;
}
.card-list .card-item img {
    width: 100%;
    aspect-ratio: 16/9;
    border-radius: 8px;
    object-fit: cover;
}
.card-list span {
    display: inline-block;
    background: #F7DFF5;
    margin-top: 32px;
    padding: 8px 15px;
    font-size: 0.75rem;
    border-radius: 50px;
    font-weight: 600;
}
.card-list .developer {
    background-color: #F7DFF5;
    color: #B22485;
}
.card-list .designer {
    background-color: #d1e8ff;
    color: #2968a8;
}
.card-item .content .title{
  font-size: 25px;
  font-weight: 600;
}
.card-item .content .sub-title{
  font-size: 20px;
  font-weight: 600;
  color: #e74c3c;
  line-height: 20px;
}
.card-item .content p{
  text-align: justify;
  margin: 10px 0;
}
@media (max-width: 1200px) {
    .card-list .card-item {
        padding: 15px;
    }
}
@media screen and (max-width: 980px) {
    .card-list {
        margin: 0 auto;
    }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
h1 {
  text-align: center;
  margin-top: 50px;
}

/* Image lightbox styling */
.lightbox {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  position: fixed;
  visibility: hidden;
  background: rgba(0,0,0,0.65);
}
.lightbox.show {
  visibility: visible;
}
.lightbox .wrapper {
  position: fixed;
  left: 50%;
  top: 50%;
  width: 100%;
  padding: 20px;
  max-width: 850px;
  background: #fff;
  border-radius: 6px;
  opacity: 0;
  pointer-events: none;
  transform: translate(-50%, -50%) scale(0.9);
  transition: transform 0.1s ease;
}
.lightbox.show .wrapper {
  opacity: 1;
  pointer-events: auto;
  transform: translate(-50%, -50%) scale(1);
}
.wrapper :where(header, .details) {
  display: flex;
  align-items: center;
}
.wrapper header {
  justify-content: space-between;
}
header .details i {
  font-size: 1.7rem;
}
header .details span {
  font-size: 1.2rem;
  margin-left: 10px;
}

/* header .buttons{
  background: green;
  height: 40px;
  width: 40px;
} */


header .buttons i {
  height: 40px;
  width: 40px;
  cursor: pointer;
  display: inline-block;
  color: #fff;
  margin-left: 10px;
  background: #6C757D;
  font-size: 1.25rem;
  line-height: 40px;
  text-align: center;
  border-radius: 4px;
  transition: 0.2s ease;
}
header .buttons i:hover {
  background: #5f666d;
}
.wrapper .preview-img {
  display: flex;
  justify-content: center;
  margin-top: 25px;
}
.preview-img .img {
  max-height: 65vh;
}
.preview-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
/* Responsive media query code */
@media screen and (max-width: 688px) {
  .lightbox .wrapper {
    padding: 12px;
    max-width: calc(100% - 26px);
  }
  .wrapper .preview-img {
    margin-top: 15px;
  }

}

/*css restaurant*/
/* css hotel */



.cadre{

    display: flex;
    height: 600px;
    width: 100%;
    border: 1px solid red;
    align-items: center;
    justify-content: center;
    
    
}

.cadre1
{
    display: flex;
    height: 98%;
    width: 95%;
    border: 1px solid red;
    align-items: center;
    
}

.sous_cadre
{
    display: flex;
    flex-direction: row;
    height: 150px;
    width: 100%;
    border: 1px solid red;
    align-items: center;
    justify-content: center; 
    margin-top: 10px;
    
}

.sous_cadre_gauche
{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  height: 80%;
  border: 1px solid red;
  font-size: 160%;
  
}

.ss_c
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    height: 100%;
    flex-direction: row;
    border: 1px solid red;
    

}

.sous_cadre_droite
{
  display: flex;
  
  align-items: center;
  justify-content: center;
  font-size: 160%;
  width: 15%;
  height: 100%;
  border: 1px solid black;
  border-radius: 100%;
  
}

.affiche_hotel
{
   display: flex;
   margin-top: 10px;
   width: 100%;
   height: 600px;
   align-items: center;
   justify-content: space-around;
   flex-direction: row;
   border: 1px purple solid;
}

.affiche_hotel1
{
   display: flex;
   width: 25%;
   height: 75%;
   align-items: center;
   justify-content: space-around;
   flex-direction: column;
   border: 1px red solid;
}

.affiche_hotel1-1
{
  display: flex;
  width: 90%;
  height: 50%;
  align-items: center;
  justify-content: center;
  border: 1px solid red;
}
.affiche_hotel1-2
{
  display: flex;
  width: 90%;
  height: 20%;
  align-items: center;
  justify-content: center;
  border: 1px solid red;
}
.affiche_hotel1-3
{
  display: flex;
  width: 90%;
  height: 10%;
  align-items: center;
  justify-content: center;
  border: 1px solid red;
}

.affiche_hotel1-4
{
  display: flex;
  width: 90%;
  height: 10%;
  align-items: center;
  justify-content: center;
  border: 1px solid red;
}
.affiche_hotel2
{
   display: flex;
  
   width: 25%;
   height: 75%;
   align-items: center;
   justify-content: space-around;
   flex-direction: column;
   border: 1px red solid;
}
.affiche_hotel3
{
   display: flex;
   width: 25%;
   height: 75%;
   align-items: center;
   justify-content: space-around;
   flex-direction: column;
   border: 1px red solid;
}

.form
{
    width: 60%;
    height: 100%;
    border: 1px peru solid;
}


.div_jauge
{
  display: flex;
  border: 1px green solid;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  width: 50%;
  height: 50%;
}

.jauge
{
  display: flex;
  flex-direction: column;
  width: 35%;
  height: 20%;
  border-radius: 10px;
  cursor:auto;
  color:orange;
  transition: 0.5s;
  border: 1px green solid;
  align-items: center;
  justify-content: center;

}
.j1 
{
  display: flex;
  justify-content: center;
  width: 100%;
  height: 35%;
  margin-bottom: 5%;
  align-items: center;
}
.j2
{
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 35%;

}
.choix
{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  width: 50%;
  height: 30%;
  border: 1px green solid;
  
}
.c1
{
  display: flex;
  flex-direction: row;
  width: 40%;
  height: 30%;
}
.c2
{
  display: flex;
  flex-direction: row;
  width: 40%;
  height: 30%;
}
.sous_cadre_jauge
{
    display: flex;
    flex-direction: column;
    height: 80%;
    width:60%;
    border: 1px solid red;
    align-items: center;
    justify-content: center; 
    margin-top: 10px;
}
.droite
{
  display: flex;
  flex-direction: row;
  height: 300px;
  width: 100%;
  border: 1px solid red;
  align-items: center;
  justify-content: space-between; 
  margin-top: 10px;
}
.sous_D
{
  display: flex;
  width: 40%;
  height: 100%;
  align-items: center;
  border: 1PX red solid;
}
/* fin css hotel */
=======
}





 */----


/* navbar */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    width: 100%;
    height: 75px;
    /* border: 2px solid red; */
    background-color: #066D84;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.nav{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    list-style-type: none;
    font-size: 20px;
    /* gap: 20px; */
}

/* 
input{
    width: 23%;
    height: 35px;
    border: 1px solid black;
    border-radius: 10px;
    text-align: center;
} */
.input-box{
    position: relative;
    height: 55px;
    max-width: 55px;
    width: 100%;
    margin: 0 40px;
    border-radius: 6px;
    background-color: #fff;
    transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  .input-box.open{
    max-width: 350px;
  }
  input{
    position: relative;
    outline: none;
    border: none;
    height: 100%;
    width: 100%;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 400;
    color: #333;
    background-color: #fff;
  }
  .input-box.open{
    padding: 0 15px 0 65px;
  }
  .icon{
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    width: 60px;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    background-color: #fff;
  }
  .search-icon,
  .close-icon{
    position: absolute;
    top: 50%;
    font-size: 30px;
    transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  .search-icon{
    color: #4070f4;
    
    transform: translateY(-50%) rotate(90deg);
  }
  .input-box.open .search-icon{
    transform: translateY(-50%) rotate(0);
  }
  .close-icon{
    right: -45px;
    color: #fff;
    padding: 5px;
    opacity: 0;
    pointer-events: none;
    transform: translateY(-50%);
  }
  .input-box.open .close-icon{
    opacity: 1;
    pointer-events: auto;
    transform: translateY(-50%) rotate(180deg);
  }

 header a {
   text-decoration: none;
   color: white;
}
>>>>>>> Stashed changes
