@media only screen and (min-width: 600px) {
.img1{
width: 100%
height: 50%
background-image: url(../images/pexels-life-of-pix-67468.jpg);
background-repeat: no-repeat;
background-size: cover;
}

}

@media only screen and (max-width: 600px) {

}