<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/style.css">
    <title>Title</title>
</head>
<body>
      <div class="cadre">
        <div class="cadre1">
            <img src="/static/images/hotel/hotel1.png" alt="" width=100% height="100%">
        </div>
      </div>
      
         <div class="droite">
            <div class="sous_droite">
               <div class="sous_D">
                  <b>VIEW OUR PROPOSITION</b>
               </div>
            </div>
            <form  class="sous_cadre_jauge" method="post">
               <div><H1>Choississez ce que vous aimeriez</H1></div>
      
               <div class="div_jauge">
                     <div class="jauge">
                        <div class="j1"><label for="prix" >prix</label> </div>      
                        <input type="range" min="0" max="100"  class="j2"/>
                     </div>
         
                     <div class="choix">
                        <input type="checkbox" class="c1">
                        <label for="" class="c2">étoile </label>
                     </div>
      
                     <div class="choix">
                        <input type="checkbox" class="c1">
                        <label for="" class="c2">localité </label>
                     </div>
               </div>
            </form>
         </div>

      

      <div class="affiche_hotel">
         <div class="affiche_hotel1">
            <div class="affiche_hotel1-1">
                <img src="/static/images/hotel/image 11.png" alt="" width=100% height="100%">
            </div>
            <div class="affiche_hotel1-2"> Azzalai</div>
            <div class="affiche_hotel1-3"></div>
            <div class="affiche_hotel1-4"></div>
         </div>
         <div class="affiche_hotel2">
            <div class="affiche_hotel1-1">
                <img src="/static/images/hotel/image 12.png" alt="" width=100% height="100%">
            </div>
            <div class="affiche_hotel1-2">Sofitel ivoire</div>
            <div class="affiche_hotel1-3"></div>
            <div class="affiche_hotel1-4"></div>
         </div>
         <div class="affiche_hotel3">
            <div class="affiche_hotel1-1">
                <img src="/static/images/hotel/image 13.png" alt="" width=100% height="100%">
            </div>
            <div class="affiche_hotel1-2">Seen hotel</div>
            <div class="affiche_hotel1-3"></div>
            <div class="affiche_hotel1-4"></div>
         </div>
      </div>

      <div class="affiche_hotel">
        <div class="affiche_hotel1">
           <div class="affiche_hotel1-1">
            <img src="/static/images/hotel/image 14.png" alt="" width=100% height="100%">
           </div>
           <div class="affiche_hotel1-2">Hotel tiama</div>
           <div class="affiche_hotel1-3"></div>
           <div class="affiche_hotel1-4"></div>
        </div>
        <div class="affiche_hotel2">
           <div class="affiche_hotel1-1">
            <img src="/static/images/hotel/image 16.png" alt="" width=100% height="100%">
           </div>
           <div class="affiche_hotel1-2"></div>
           <div class="affiche_hotel1-3"></div>
           <div class="affiche_hotel1-4"></div>
        </div>
        <div class="affiche_hotel3">
           <div class="affiche_hotel1-1">
            <img src="/static/images/hotel/hotel1.png" alt="" width=100% height="100%">
           </div>
           <div class="affiche_hotel1-2"></div>
           <div class="affiche_hotel1-3"></div>
           <div class="affiche_hotel1-4"></div>
        </div>
     </div>
</body>
</html>