<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/style.css">
    <title>Title</title>
</head>
<body>
      <div class="cadre">
        <div class="cadre1">
            <img src="img_hotel/hotel.png" alt="">
        </div>
      </div>
      <div class="sous_cadre">
        <div class="ss_c">
            <div class="sous_cadre_gauche">
                        <b>VIEW OUR PROPOSITION</b>
        </div>
        <div class="sous_cadre_droite">
            <b>TRIER PAR</b>
        </div>
        </div>
    
      </div>
      <div class="affiche_hotel">
         <div class="affiche_hotel1">
            <div class="affiche_hotel1-1"></div>
            <div class="affiche_hotel1-2"> Azzalai</div>
            <div class="affiche_hotel1-3"></div>
            <div class="affiche_hotel1-4"></div>
         </div>
         <div class="affiche_hotel2">
            <div class="affiche_hotel1-1"></div>
            <div class="affiche_hotel1-2">Sofitel ivoire</div>
            <div class="affiche_hotel1-3"></div>
            <div class="affiche_hotel1-4"></div>
         </div>
         <div class="affiche_hotel3">
            <div class="affiche_hotel1-1"></div>
            <div class="affiche_hotel1-2">Seen hotel</div>
            <div class="affiche_hotel1-3"></div>
            <div class="affiche_hotel1-4"></div>
         </div>
      </div>

      <div class="affiche_hotel">
        <div class="affiche_hotel1">
           <div class="affiche_hotel1-1"></div>
           <div class="affiche_hotel1-2">Hotel tiama</div>
           <div class="affiche_hotel1-3"></div>
           <div class="affiche_hotel1-4"></div>
        </div>
        <div class="affiche_hotel2">
           <div class="affiche_hotel1-1">
            <img src="./img_hotel/hotel.png" alt="">
           </div>
           <div class="affiche_hotel1-2"></div>
           <div class="affiche_hotel1-3"></div>
           <div class="affiche_hotel1-4"></div>
        </div>
        <div class="affiche_hotel3">
           <div class="affiche_hotel1-1"></div>
           <div class="affiche_hotel1-2"></div>
           <div class="affiche_hotel1-3"></div>
           <div class="affiche_hotel1-4"></div>
        </div>
     </div>
</body>
</html>